* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@200;300 & display=swap');

body {
    familia de fuentes: 'Raleway', sans-serif;
}


.logo {
    width: 150px;
}

.encabezado {
    background-color: #F9F9FC;
    border-top: 20px solid #FE6512;
}

.menuNav a {
    text-transform: uppercase;
    font-size: 1.3rem;
    border-left: 1px solid #FE6512;
    padding: 0;
}

.menuNav a:hover {
    background-color: #FE6512;
    color: white;
}

/*PRODUCTOS*/
.productos {
background-color: #00009C;
color: white;
text-align: center;
text-transform: uppercase;
font-weight: bold;
padding: 1rem;
}

.productos h2 {
    font-size: 3rem;
}

/*BOTONES*/

.btnCards {
    background-color: rgb(196, 196, 196);
    color: black;
}

.btnCards:hover {
    background-color: gray;
    color: whitesmoke;
}