@import url("https://fonts.googleapis.com/css2? family= Raleway:wght@200;300 & display=swap");
* {
  margin: 0;
  padding: 0;
}

/*FOOTER*/
footer {
  bottom: 0;
  width: 100%;
  margin-top: 150px;
  padding: 20px;
  border-top: 1px solid black;
  text-align: center;
  font-weight: normal;
}

.textoPieUno {
  font-size: 15px;
  text-align: center;
}

.textoPieDos {
  font-size: 12px;
  text-align: center;
}

.instagram {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(255, 0, 179);
  font-size: 30px;
}

.facebook {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
  font-size: 30px;
}

.whatsapp {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(0, 190, 13);
  font-size: 30px;
}

/*FORMULARIO DE CONTACTO*/
body {
  margin: 20px;
}

.contenedorContacto {
  background-color: bisque;
  padding-top: 20px;
}

.cajaFix {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

form {
  max-width: 600px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: grey;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #00009c;
}

iframe {
  display: flex;
  width: 100%;
}

.formulario {
  margin-top: 20px;
  font-size: 1.3rem;
}

.logo {
  width: 150px;
}

.encabezado {
  background-color: #F9F9FC;
  border-top: 20px solid #FE6512;
}

.menuNav a {
  text-transform: uppercase;
  font-size: 1.3rem;
  border-left: 1px solid #FE6512;
  padding: 0;
}
.menuNav a:hover {
  background-color: #FE6512;
  color: white;
}

/*CARRUSEL*/
.sombraParrafo {
  text-shadow: 1px 1px white;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.sombraParrafoDos {
  text-shadow: 1px 1px white;
  text-transform: uppercase;
  font-weight: bold;
  color: #00009c;
}

/*Botones*/
.btnCards {
  background-color: rgb(196, 196, 196);
  color: black;
}
.btnCards:hover {
  background-color: gray;
  color: whitesmoke;
}

.card {
  border: none;
  padding-top: 20px;
}

.card-text {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.card-text-dos {
  font-size: 1.1rem;
}

/*RECOMENDACIONES*/
.imagenHome {
  margin-right: 10px;
  margin-top: 30px;
  /* Espacio entre la imagen y el texto */
  border-radius: 15px;
}

.textoHome {
  font-size: 1.3rem;
  max-width: 100%;
  width: 100%;
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .contenedorFlex {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contenedorHome {
    flex-direction: row;
    justify-content: space-around;
  }
  .textoHome {
    max-width: 50%;
    text-align: justify;
    margin-bottom: 0;
  }
  .imagenHome {
    max-width: 50%;
  }
}
/*HOME*/
.contenedorHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoHome {
  font-size: 1.3em;
  max-width: 100%;
  width: 100%;
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 30px;
}

.imagenHome {
  max-width: 100%;
  height: auto;
}

.subTitulos {
  background: linear-gradient(#00009C, #9898ff);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}
.subTitulos h1 {
  font-size: 2rem;
}

.subTituloDos {
  background-color: #fe6512;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 2rem;
}

/* CONTACTO */
.subTituloTres {
  background-color: #fe6512;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1.8rem;
}

/* HOME */
.tituloHome {
  color: #fe6512;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* SERVICIOS */
.card-title {
  text-transform: uppercase;
  font-size: 1.7rem;
}

/*Animacion en los h1*/
@keyframes texto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
h1 {
  animation-name: texto;
  animation-duration: 2s;
}

@media screen and (max-width: 768px) {
  .contenedorHome {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contenedorHome {
    flex-direction: row;
    justify-content: space-around;
  }
  .textoHome {
    max-width: 50%;
    text-align: justify;
    margin-bottom: 0;
  }
  .imagenHome {
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .contenedorHome {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contenedorHome {
    flex-direction: row;
    justify-content: space-around;
  }
  .textoHome {
    max-width: 50%;
    text-align: justify;
    margin-bottom: 0;
  }
  .imagenHome {
    max-width: 50%;
  }
}

/*# sourceMappingURL=estilo.css.map */
