* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe4d5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    padding-bottom: 700px;
}

header {
    text-align: center;
    padding: 10px 20px;
}

.logo {
    width: 150px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

main {
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: rgb(41, 41, 41);
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 100px;
}

.nuevoContainer {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.nuevoContainer .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2 2 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.2s;
}

.nuevoContainer .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.nuevoContainer .card img {
    width: 330px;
    height: 220px;
}

.nuevoContainer .card h4 {
    font-weight: 600px;
}

.nuevoContainer .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.nuevoContainer .card a {
    font-weight: 400;
    text-decoration: none;
    color: #4a6eff;
}


/*HOME*/
.contenido {
    display: flex;
    align-items: center;
    /* Centra verticalmente la imagen y el texto */
    margin-right: 10px;
    /* Margen derecho */
    margin-top: 15px;
    /* Margen superior */
    margin-bottom: 15px;
    /* Margen inferior */
    margin-left: 10px;
    /* Margen izquierdo */
}

img {
    margin-right: 10px;
    border-radius: 10px;
}


/*RECOMENDACIONES*/

.contenido {
    display: flex;
    align-items: center;
    /* Centra verticalmente la imagen y el texto */
    margin-right: 10px;
    /* Margen derecho */
    margin-top: 15px;
    /* Margen superior */
    margin-bottom: 15px;
    /* Margen inferior */
    margin-left: 10px;
    /* Margen izquierdo */
}

img {
    margin-right: 10px;
    border-radius: 10px;
}


/* SERVICIOS */

.contenedorServicios {
    margin: 20px;
    border: none;
}

.imgServicios {
    display: inline-block;
    width: 50%;
    height: auto;
}

.contenedorServicios p {
    background-color: #000000;
    color: #fff;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

/* IFRAME */

iframe {
    display: block;
    margin-top: 50px;
    margin-right: 50px;
}

.tituloMapa {
    display: inline-block;
    margin-bottom: 460px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: normal;
}

/* FORMULARIO DE CONTACTO */

form {
    margin-top: 20px;
}

.completarFormulario {
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 50px;
    font-weight: normal;
}

label {
    display: inline-block;
    text-align: left;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #111111;
    width: 100px;
    /* Ancho deseado para las etiquetas */
}


.formContacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input [type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

.btnFormulario {
    background-color: #ff4d00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.botonesContainer {
    text-align: right;
}


/* Estilo para los input */
input[type="text"],
textarea {
    display: inline-block;
    width: 200px;
    /* Ancho deseado para los campos de entrada */
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    /* Agrega un espacio alrededor del contenido del input */
    margin-bottom: 10px;
}



/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
    font-weight: normal;
}


.instagram {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 0, 179);
    font-size: 30px;
}

.facebook {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
    font-size: 30px;
}

.whatsapp {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(0, 190, 13);
    font-size: 30px;
}