/*Botones*/
.btnCards {
    background-color: rgb(196, 196, 196);
    color: black;

    &:hover {
        background-color: gray;
        color: whitesmoke;
    }
}

.card {
    border: none;
    padding-top: 20px;
}

.card-text {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.card-text-dos {
    font-size: 1.1rem;
}