/*CARRUSEL*/
.parrafoCarrusel {
    font-size: 1rem;
    text-shadow: 1px 1px white;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.parrafoCarruselDos {
    font-size: 1.3rem;
    text-shadow: 1px 1px white;
    text-transform: uppercase;
    font-weight: bold;
    color: #00009c;
}