/*Botones*/
.btnCards {
    background-color: rgb(196, 196, 196);
    color: black;

    &:hover {
        background-color: gray;
        color: whitesmoke;
    }
}

.card {
    border: none;
    padding-top: 20px;
}

.card-text {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.card-text-dos {
    font-size: 1.1rem;
}

/*RECOMENDACIONES*/
.imagenHome {
    margin-right: 10px;
    margin-top: 30px;
    /* Espacio entre la imagen y el texto */
    border-radius: 15px;
}

.textoHome {
    font-size: 1.3rem;
    max-width: 100%;
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .contenedorFlex {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    .contenedorHome {
        flex-direction: row;
        justify-content: space-around;
    }

    .textoHome {
        max-width: 50%;
        text-align: justify;
        margin-bottom: 0;
    }

    .imagenHome {
        max-width: 50%;
    }
}