/*FORMULARIO DE CONTACTO*/
body {
    margin: 20px;
}

.contenedorContacto {
    background-color: bisque;
    padding-top: 20px;
}

.cajaFix {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

form {
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: grey;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00009c;
}


iframe {
    display: flex;
    width: 100%;
}

.formulario {
    margin-top: 20px;
}