.logo {
    width: 150px;
}

.encabezado {
    background-color: #F9F9FC;
    border-top: 20px solid #FE6512;
}

.menuNav a {
    text-transform: uppercase;
    font-size: 1.3rem;
    border-left: 1px solid #FE6512;
    padding: 0;

    &:hover {
        background-color: #FE6512;
        color: white;
    }
}