/*HOME*/
.contenedorHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoHome {
  font-size: 1.2em;
  max-width: 100%;
  width: 100%;
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 30px;
}

.imagenHome {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .contenedorHome {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contenedorHome {
    flex-direction: row;
    justify-content: space-around;
  }

  .textoHome {
    max-width: 50%;
    text-align: justify;
    margin-bottom: 0;
  }

  .imagenHome {
    max-width: 50%;
  }
}