/*HOME Y RECOMENDACIONES*/
.contenedorHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoHome {
  font-size: 1.3em;
  max-width: 100%;
  width: 100%;
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 30px;
}

.imagenHome {
  margin-right: 10px;
  margin-top: 30px;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}