.subTitulos {
    background: linear-gradient(#00009C, #9898ff);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;

    h1 {
        font-size: 2rem;
    }
}

.subTituloDos {
    background-color: #fe6512;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 2rem;
}

/* CONTACTO */
.subTituloTres {
    background-color: #fe6512;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1.8rem;
}

/* HOME */
.tituloHome {
color: #fe6512;
font-size: 1.7rem;
text-align: center;
text-transform: uppercase;
text-decoration: underline;
margin-top: 20px;
margin-bottom: 20px;
}

/* SERVICIOS */
.card-title {
    text-transform: uppercase;
    font-size: 1.7rem;
}